pandas
numpy
python-dotenv
sentinelhub
tqdm
datasets
huggingface_hub
scikit-learn
imbalanced-learn
xgboost
boto3
streamlit
streamlit-folium
folium
plotly
scipy
fastapi
uvicorn[standard]
pyarrow
openai
langchain
langchain-openai
langchain-community
faiss-cpu
